include LICENSE
include tox.ini
include Dockerfile
include *.txt
include *.rst
include *.yml
recursive-include docs *.py
recursive-include docs *.rst
recursive-include tests *.py
recursive-include specs *.py
recursive-include examples *.py
recursive-include examples *.txt
